.footer {
  background: #2c3e50;
  color: white;
  padding: 10px 20px;
  max-height: 300px; /* hoặc tuỳ ý */
  overflow: hidden;   /* ẩn phần dư thừa */
 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;

}

.footer-col {
  flex: 1;
  min-width: 200px; /* giảm từ 250px xuống */
  margin: 10px;
  height: 200px;
}

.footer-col h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #f1c40f;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}



.footer-col ul li a {
  color: white;
  padding: 0px;
  font-size: 14px; /* thay vì mặc định */
}

.footer-col ul li a:hover {
  color: #f3672b;
}

.socials {
  display: flex;
  gap: 15px;
  font-size: 28px;
}

.socials .icon {
  cursor: default;
  transition: transform 0.3s ease, color 0.3s ease;
}

.socials .facebook {
  color: #3b5998;
}

.socials .youtube {
  color: #ff0000;
}

.socials .instagram {
  color: #e1306c;
}

.socials .icon:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  font-size: 14px;
  height: 20px;
}

