.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #e9d8de;
  color: #423f3f;
 padding: 8px 12px;
  margin-bottom: 20px;
  text-shadow: 0 0 1px rgba(56, 53, 53, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  height: 36px;
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.marquee-track {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 100s linear infinite;
}

.marquee-item {
  display: inline-block;
  margin-right: 50px;
  font-size: 16px;
  color: #000; /* chữ đen */
  text-decoration: none;
  white-space: nowrap;
}

.marquee-item:hover {
  color: #007bff; /* hover xanh */
  text-decoration: underline;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}



